.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.words {
	margin-left: 2em;
}

#index {
	margin-left: 2em;
}

th {
  text-align: left;
}

#bart_cheating {
	text-align: center;
	margin-top: 5em;
}