<h1>Welcome to the thing that works!</h1>
<form action ="/results" method = "post">
	<input name="letters" type="text"> What letters do you have? </input>
	<button type = "submit" >Find me words</button>
</form>
<br>
<br>
<br>
<form id = "blank_tile_form" action ="/extra_results" method = "post">
	<input name="letters" type="text"> What letters do you have? </input>
	<button type = "submit" >Find me words</button>
</form>