<div id = "index">
	<h1>Welcome to the thing that works!</h1>
	<form action ="/results" method = "post">
		<input name="letters" type="text"> What letters do you have?  Use $ For a blank tile. </input>
		<button type = "submit" >Find me words</button>
	</form>
	<img id="bart_cheating" src="http://www.theprospect.net/wp-content/uploads/2014/02/1330-cheating.jpg">
</div>